body{
    background: rgba(0, 0, 139, 0.123);
}
img{
    width: 30%;
    margin: 20px;
    transition: 1s ease-in-out;
    
}
h2{
    display: flex;
    justify-content: center;
    color:rgb(245, 247, 248) ;
    font-size: 40px;
    margin-top: 0%;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color: cadetblue;
    width: 500px;
    border-radius: 20px;
    

}
img:hover{
    transform: scale(1.5);
}